@tailwind base;
@tailwind components;
@tailwind utilities;


.animation {
  animation: defilement-rtl 15s infinite linear;
}

@keyframes defilement-rtl {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.link-text {
  position: relative;
  overflow: hidden;
  display: inline-block;
  z-index: 1;
  color: #000;
  transition: color 0.3s ease;
}

;

.link-text::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 0.4rem;
  background-color: #aaa1a196;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  z-index: -1;
}

.link-text:hover {
  color: rgb(104, 98, 98);
}

.link-text:hover::before {
  transform: scaleX(1);
}

.skew-button {
  display: flex;
  padding: 10px 45px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: white;
  background: #6225E6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

/* DESKTOP */

.carrousel-pictures>img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 10px;
  mix-blend-mode: normal
}

.carrousel-pictures {
  position: relative;
}

.carrousel-leftArrow {
  position: absolute;
  left: 13px;
  top: 44%;
  cursor: pointer
}

.carrousel-rightArrow {
  position: absolute;
  right: 13px;
  top: 44%;
  cursor: pointer
}

.carrousel-leftArrow img,
.carrousel-rightArrow img {
  width: 43px
}


/* MOBILE */

@media screen and (max-width: 768px) {

  .carrousel-leftArrow img,
  .carrousel-rightArrow img {
    width: 11px
  }

  .carrousel-pictures>img {
    height: 255px;
    border-radius: 10px
  }
}